.flex-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.tab-content {
    margin: 14px auto;
}

:host::ng-deep.mat-mdc-tab-labels {
    gap: 4px;
    border-bottom: 2px solid #e0e0e0;
}

:host::ng-deep.mdc-tab {
    max-width: 200px;
    border-radius: 6px 6px 0 0;
}

:host::ng-deep.mdc-tab:not(.mdc-tab--active) {
    border: 2px solid #e0e0e0;
    border-bottom: 0;
}

:host::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #fff;
}

:host::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active {
    background-color: #3f51b5;
}

:host::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: transparent;
}