.spacing-l-10 {
    padding-left: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-t-20 {
    margin-top: 20px;
}

.divider-title {
    background: #3f51b5;
    color: #fff;
    padding: 10px;
}

.edit-icon {
    position: absolute;
    top: 0px;
    right: 20px;
}

.delete-icon {
    position: absolute;
    top: 0px;
    right: 75px;
}

mat-form-field {
    width: 100%;
}

.container-fluid {
    position: relative;
}